
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;  /* Allows the squares to wrap to new rows */
    justify-content: center; /* Center the grid horizontally */
    align-self: center;
    width: 900px;  /* Adjust to the size you want for the container */
    height: 900px; /* Adjust to the size you want for the container */
}

.container div {
    box-sizing: border-box;  /* Ensures that padding/border are inside the div's size */
    border: 1px solid #ccc;  /* Optional, to show grid lines */
}
