
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container>div{
    border: 1px solid black;
    height: 25px;
    width: 25px;
}

.container>div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}